# Solana RPC (defaults to devnet)
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

# jarfi-backend URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

# MoonPay
NEXT_PUBLIC_MOONPAY_API_KEY=pk_test_key
NEXT_PUBLIC_MOONPAY_WIDGET_URL=https://buy-sandbox.moonpay.com
